# 🐍 Python
__pycache__/
*.py[cod]
*$py.class

# 📦 Virtual environments
venv/
.env/
.venv/
env/

# 📜 Logs and databases
*.log
*.sqlite3

# 🧪 Test/coverage reports
.coverage
.pytest_cache/
htmlcov/

# 🖥️ OS-specific files
.DS_Store
Thumbs.db

# 🛠 IDE/project files
.vscode/
.idea/
*.iml

# 📂 Build/packaging
build/
dist/
*.egg-info/
.eggs/

# 📑 Jupyter Notebook checkpoints
.ipynb_checkpoints

# disregard large files in DeepLearning folder
DeepLearning/yolo/yolov3.weights
DeepLearning/yolo/darknet/cfg/yolov3.cfg
DeepLearning/yolo/darknet/data/coco.names
DeepLearning/yolo/darknet/data/KakaoTalk_20250922_144402790.mp4

Day_076_250923/yolo/yolov3.weights
Day_076_250923/yolo/darknet/cfg/yolov3.cfg
Day_076_250923/yolo/darknet/data/coco.names
Day_076_250923/yolo/darknet/data/KakaoTalk_20250922_144402790.mp4
Day_076_250923/yolo/darknet/data/racing2.mp4
Day_076_250923/yolo/darknet/data/vtest.mp4