# ----------------------------
# Python
# ----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pycache/
*.egg-info/
*.eggs/
*.whl

# Virtual environments
venv/
ENV/
env/
.venv/

# pip
pip-log.txt
pip-delete-this-directory.txt

# ----------------------------
# VS Code
# ----------------------------
.vscode/

# ----------------------------
# OS files
# ----------------------------
.DS_Store
Thumbs.db

# ----------------------------
# Logs
# ----------------------------
*.log

# ----------------------------
# Python test outputs
# ----------------------------
.pytest_cache/
.coverage
htmlcov/
